<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Grafo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="Grafos-container">
        <h1>Visualizar Grafo</h1>
    <div class="grafo-details">
        {% for nodo in nodos %}
            {% if nodo[1] == "Amarillo" %}
            <!-- Muy simple: clase 'nodo-amarillo' repetitiva y separada -->
            <div class="nodo nodo-amarillo" title="{{ nodo[0] }}" data-node-id="{{ nodo[0] }}">{{ nodo[0] }}</div>
            {% endif %}
            {% if nodo[1] == "Azul" %}
            <div class="nodo nodo-azul" title="{{ nodo[0] }}" data-node-id="{{ nodo[0] }}">{{ nodo[0] }}</div>
            {% endif %}
            {% if nodo[1] == "Morado" %}
            <div class="nodo nodo-morado" title="{{ nodo[0] }}" data-node-id="{{ nodo[0] }}">{{ nodo[0] }}</div>
            {% endif %}
        {% endfor %}
    </div>
    </div>